

<h3>BUSCAR</h3>
<div id="search">
    <form>
        <input type="text" />
        <input type="button" value="L" class="icon" />
    </form>
</div>

<h3>LOGIN</h3>
<div id="login" class="aside-box">
    <form>
        <label id="user" class="icon">U</label>
        <input type="email" />
        <label id="password" class="icon">w</label>
        <input type="password" />

        <input type="submit" value="Entrar">
        <input type="reset" value="Limpiar">

        <a href="#">Regístrate aquí</a>
        <a href="#">¿Has olvidado tu contraseña?</a>
    </form>
</div>

<h3>REDES SOCIALES</h3>
<div id="social" class="aside-box">
    <div class="twitter">
        <a href="#" class="icon">t</a>
        <p class="overlay">Twitter</p>
    </div>
    <div class="facebook">
        <a href="#" class="icon">f</a>
        <p class="overlay">Facebook</p>
    </div>
    <div class="youtube">
        <a href="#" class="icon">y</a>
        <p class="overlay">YouTube</p>
    </div>
</div>

<h3>PATROCINADORES</h3>
<div id="sponsors" class="aside-box">

</div>