
#banner {
    width: 95,5%;
    height: 100px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background: url('../../../../assets/img/bakbaner.png');
    background-position: -200px -200px;
    margin: 20px auto;
    animation: backBanner 10s linear;
    overflow: hidden;
}

@keyframes backBanner {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -200px -200px;
    }
}

#banner h1 {
    display: block;
    width: 100%;
    font-family: "BebasNeue";
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    text-shadow: 3px 3px 1px black;
    letter-spacing: 2px;
    margin: 23px auto;
    animation: showText 10s linear;
}

@keyframes showText {
    0% {
        transform: translateX(-600%) scale(5,5);
        opacity: 1;
    }
    50% {
        transform: translateX(600%) scale(5,5);
        opacity: 1;
    }
    75% {
        transform: translateX(-600%) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100% {
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;
    }
}

#cards {
    margin-top: 40px;
    margin-left: -20px;
    margin-right: -20px;
}

#lateral {
    width: 300px;
    min-height: 1200px;
    font-family: "TrebuchetMS";
    float: right;
}

#articles {
    width: 820px;
    float: left;
}

#articles h2 {
    display: block;
    width: 840px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    background: url(../../../../assets/img/pxgray.png), white;
    box-shadow: 0px 1px 0px #393D3F, 1px 2px 0px #393D3F, 2px 3px 0px #393D3F, 3px 4px 0px #393D3F;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

#blog {
    height: 100px;
    margin-top: 60px;
    line-height: 100px;
    text-align: center;
    transition: all 1s;
}

#blog:hover {
    background-color: #333;
    border: 10px solid #37BCF9;
    border-radius: 240px;
    box-shadow: 0px 0px 10px gray;
    animation: blink 10s infinite linear;
}

@keyframes blink {
    0% {
        border: 10px solid #37BCF9;
    }
    25% {
        border: 10px solid green;
    }
    50% {
        border: 10px solid yellow;
    }
    75% {
        border: 10px solid white;
    }
    100% {
        border: 10px solid #37BCF9;
    }
}

#blog a {
    display: block;
    font-family: "BebasNeue";
    font-size: 40px;
    letter-spacing: 3px;
    color: #00538C;
    text-decoration: none;
    transition: all 1s;
}

#blog:hover a {
    color: white;
    text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
}

article {
    width: 100%;
    height: auto;
    border: 1px solid #CCC;
    margin: 40px auto;
    padding: 10px;
    font-family: "TrebuchetMS";
    background: white;
    color: black;
    box-shadow: 1px 1px 2px #DDD;
}