

<article>
    <div class="data">
        <span>Fecha: {{ articulo.fecha }}</span>
        <span>Categoría: {{ articulo.categoria }}</span>
    </div>
    <h4>
        <a href="#">{{ articulo.titulo }}</a>
    </h4>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat facilis deserunt eum tempora laboriosam.
        Voluptate sunt vero reiciendis id blanditiis placeat, atque modi corporis veritatis excepturi animi laboriosam,
        minus perspiciatis.
    </p>
</article>