

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

article {
    width: 100%;
    height: auto;
    border: 1px solid #CCC;
    margin: 40px auto;
    padding: 10px;
    font-family: "TrebuchetMS";
    background: white;
    color: black;
    box-shadow: 1px 1px 2px #DDD;
}

article h4 {
    display: block;
    font-size: 23px;
    margin: 3px;
}

article h4 a {
    text-decoration: none;
    color: #00538C;

}

article h4 a:hover {
    text-decoration: underline;
}

.data {
    float: right;
    background: #393D3F;
    color: white;
    height: 30px;
    line-height: 30px;
    margin: -10px;
    padding: 4px;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px;
}

.data span {
    margin: 6px;
}