<div id="header-container">

    <header id="header">

        <div id="logo">
            <h1>{{ logo }}</h1>
        </div>
    
        <nav id="menu">
            <ul>
                <li
                    routerLink=""
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <span>Inicio</span>
                </li>
                <li
                    routerLink="proyectos"
                    routerLinkActive="active">
                    <span>Proyectos</span>
                </li>
                <li
                    routerLink="astrofotografia"
                    routerLinkActive="active">
                    <span>Astrofotografía</span>
                </li>
                <li
                    routerLink="contacto"
                    routerLinkActive="active">
                    <span>Contacto</span>
                </li>
            </ul>
        </nav>
        
    </header>

</div>