.body {
    text-align: center;

    .header-container {
        display: flex;
        height: 60px;
        background-color: #222;
        justify-content: center;
        align-items: center;
    
        header {
            display: flex;
            width: 1200px;
            height: 60px;
            background-color: #CCC;
            justify-content: center;
            align-items: center;
    
            nav {
    
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    margin: 0px auto;
                    list-style: none;
    
                    li {
                        padding: 16px;
                    }
                }
            }
        }
    }

    .body-container {
        max-width: 1200px;
        margin: 0px auto;
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;

        .card {
            aspect-ratio: 16 / 9;
            border: 1px solid #222;;
        }
    }
}
