<div class="body">
  <div class="header-container">
    <header>
      <nav>
        <ul>
          <li>Opción 1</li>
          <li>Opción 2</li>
          <li>Opción 3</li>
          <li>Opción 4</li>
        </ul>
      </nav>
    </header>
  </div>
  
  <div class="body-container">
    <div class="card">
      Tarjeta
    </div>
    <div class="card">
      Tarjeta
    </div>
    <div class="card">
      Tarjeta
    </div>
    <div class="card">
      Tarjeta
    </div>
    <div class="card">
      Tarjeta
    </div>
    <div class="card">
      Tarjeta
    </div>
    <div class="card">
      Tarjeta
    </div>
    <div class="card">
      Tarjeta
    </div>
  </div>
</div>